01-lead-capture-crm-slack.json
{
  "name": "Lead Capture → CRM → Slack Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000001",
      "name": "Webhook (Form POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "cond-name",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-2222-4000-a000-000000000002",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "set-ts",
              "name": "created_at",
              "value": "={{ $now.toISOString() }}",
              "type": "string"
            },
            {
              "id": "set-status",
              "name": "status",
              "value": "new",
              "type": "string"
            },
            {
              "id": "set-source",
              "name": "lead_source",
              "value": "website_form",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-3333-4000-a000-000000000003",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "application": "REPLACE_WITH_YOUR_AIRTABLE_BASE_ID",
        "table": "Leads",
        "options": {
          "typecast": true
        }
      },
      "id": "a1b2c3d4-4444-4000-a000-000000000004",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "airtableApi": "REPLACE_WITH_YOUR_AIRTABLE_CREDENTIAL_NAME"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID",
        "range": "Leads!A:F",
        "options": {}
      },
      "id": "a1b2c3d4-5555-4000-a000-000000000005",
      "name": "Save to Google Sheets (fallback)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [850, 500],
      "disabled": true,
      "credentials": {
        "googleSheetsOAuth2Api": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_NAME"
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "channel": "#leads",
        "text": "=**🔔 New Lead!**\n\n*Name:* {{ $json.name }}\n*Email:* {{ $json.email }}\n*Company:* {{ $json.company || 'Not provided' }}\n*Source:* {{ $json.lead_source }}\n*Time:* {{ $json.created_at }}\n\n_Added to Airtable ✅_",
        "otherOptions": {
          "unfurlLinks": false,
          "unfurlMedia": false
        }
      },
      "id": "a1b2c3d4-6666-4000-a000-000000000006",
      "name": "Notify Slack #leads",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1050, 300],
      "credentials": {
        "slackApi": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL_NAME"
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Lead captured successfully\",\n  \"data\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"status\": \"new\"\n  }\n}"
      },
      "id": "a1b2c3d4-7777-4000-a000-000000000007",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "httpStatusCode": 400,
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Missing required fields: name and email are required\"\n}"
      },
      "id": "a1b2c3d4-8888-4000-a000-000000000008",
      "name": "Return 400 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook (Form POST)": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 400 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Notify Slack #leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack #leads": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return 400 Error": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {"name": "sales"},
    {"name": "lead-capture"},
    {"name": "#template"}
  ],
  "pinData": {},
  "versionId": "1.0.0"
}
