03-social-crossposter.json
{
  "name": "Social Media Cross-Poster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 15}]
        }
      },
      "id": "scp-001",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_YOUR_RSS_FEED_URL",
        "options": {}
      },
      "id": "scp-002",
      "name": "Read RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID",
        "range": "CrossPost Log!A:A",
        "options": {}
      },
      "id": "scp-003",
      "name": "Read Posted URLs Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [450, 500],
      "credentials": {
        "googleSheetsOAuth2Api": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_NAME"
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine RSS items with posted URLs to filter new posts\nconst rssItems = $input.all();\nconst postedSheet = $('Read Posted URLs Log').first().json;\n\n// Extract posted URLs from sheet data (skip header row)\nconst postedUrls = new Set();\nif (postedSheet && postedSheet.data) {\n  postedSheet.data.slice(1).forEach(row => {\n    if (row[0]) postedUrls.add(row[0].trim());\n  });\n}\n\n// Filter: keep only RSS items whose link hasn't been posted\nconst newItems = rssItems.filter(item => {\n  const link = item.json.link || item.json.guid || '';\n  return !postedUrls.has(link) && link.length > 0;\n});\n\nif (newItems.length === 0) {\n  // Return empty — workflow ends gracefully\n  return [];\n}\n\n// Extract and clean data from each new item\nreturn newItems.map(item => {\n  const title = (item.json.title || '').replace(/<[^>]*>/g, '').trim();\n  const rawDescription = (item.json.description || item.json.content || item.json.summary || '').replace(/<[^>]*>/g, '').trim();\n  const description = rawDescription.length > 200 ? rawDescription.substring(0, 197) + '...' : rawDescription;\n  const link = item.json.link || item.json.guid || '';\n  \n  // Try to extract featured image from content\n  let imageUrl = '';\n  const content = item.json.content || item.json.description || '';\n  const imgMatch = content.match(/<img[^>]+src=\"([^\"]+)\"/i);\n  if (imgMatch) imageUrl = imgMatch[1];\n  \n  return {\n    title,\n    description,\n    link,\n    imageUrl,\n    pubDate: item.json.pubDate || item.json.isoDate || new Date().toISOString()\n  };\n});"
      },
      "id": "scp-004",
      "name": "Filter New & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "scp-005",
      "name": "Has New Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "tweet-text",
              "name": "tweet",
              "value": "={{ $json.title.substring(0, 210) }}\n\n{{ $json.link }}\n\n#tech #automation",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "scp-006",
      "name": "Format for X/Twitter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "text": "={{ $json.tweet }}",
        "options": {}
      },
      "id": "scp-007",
      "name": "Post to X (Twitter)",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1.2,
      "position": [1250, 200],
      "credentials": {
        "twitterOAuth1Api": "REPLACE_WITH_YOUR_TWITTER_CREDENTIAL_NAME"
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "li-text",
              "name": "linkedinText",
              "value": "=📝 {{ $json.title }}\n\n{{ $json.description }}\n\nRead the full article: {{ $json.link }}\n\n#automation #nocode #business",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "scp-008",
      "name": "Format for LinkedIn",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "postType": "article",
        "text": "={{ $json.linkedinText }}",
        "articleUrl": "={{ $json.link }}",
        "articleTitle": "={{ $json.title }}",
        "options": {}
      },
      "id": "scp-009",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1.1,
      "position": [1250, 400],
      "credentials": {
        "linkedInOAuth2Api": "REPLACE_WITH_YOUR_LINKEDIN_CREDENTIAL_NAME"
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "tg-text",
              "name": "telegramText",
              "value": "=🔥 *{{ $json.title }}*\n\n{{ $json.description }}\n\n[👉 Read more]({{ $json.link }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "scp-010",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 600]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_TELEGRAM_CHANNEL_ID",
        "text": "={{ $json.telegramText }}",
        "options": {
          "parse_mode": "MarkdownV2",
          "disable_web_page_preview": false
        }
      },
      "id": "scp-011",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1250, 600],
      "credentials": {
        "telegramApi": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_NAME"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID",
        "range": "CrossPost Log!A:F",
        "options": {}
      },
      "id": "scp-012",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1450, 400],
      "credentials": {
        "googleSheetsOAuth2Api": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_NAME"
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "channel": "#social-media",
        "text": "=📢 *Cross-posted:* {{ $json.title }}\n🔗 {{ $json.link }}\n✅ X | ✅ LinkedIn | ✅ Telegram"
      },
      "id": "scp-013",
      "name": "Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1650, 400],
      "credentials": {
        "slackApi": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL_NAME"
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[{"node": "Read RSS Feed", "type": "main", "index": 0}]]
    },
    "Read RSS Feed": {
      "main": [[{"node": "Filter New & Extract", "type": "main", "index": 0}]]
    },
    "Read Posted URLs Log": {
      "main": [[{"node": "Filter New & Extract", "type": "main", "index": 0}]]
    },
    "Filter New & Extract": {
      "main": [[{"node": "Has New Posts?", "type": "main", "index": 0}]]
    },
    "Has New Posts?": {
      "main": [
        [
          {"node": "Format for X/Twitter", "type": "main", "index": 0},
          {"node": "Format for LinkedIn", "type": "main", "index": 0},
          {"node": "Format for Telegram", "type": "main", "index": 0}
        ],
        []
      ]
    },
    "Format for X/Twitter": {
      "main": [[{"node": "Post to X (Twitter)", "type": "main", "index": 0}]]
    },
    "Post to X (Twitter)": {
      "main": [[{"node": "Log to Google Sheets", "type": "main", "index": 0}]]
    },
    "Format for LinkedIn": {
      "main": [[{"node": "Post to LinkedIn", "type": "main", "index": 0}]]
    },
    "Post to LinkedIn": {
      "main": [[{"node": "Log to Google Sheets", "type": "main", "index": 0}]]
    },
    "Format for Telegram": {
      "main": [[{"node": "Send to Telegram", "type": "main", "index": 0}]]
    },
    "Send to Telegram": {
      "main": [[{"node": "Log to Google Sheets", "type": "main", "index": 0}]]
    },
    "Log to Google Sheets": {
      "main": [[{"node": "Slack Summary", "type": "main", "index": 0}]]
    },
    "Slack Summary": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {"name": "marketing"},
    {"name": "social-media"},
    {"name": "#template"}
  ],
  "pinData": {},
  "versionId": "1.0.0"
}
